* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    min-width: 100vw;
}

.my-container {
    height: 100%;
    width: 100%;
}

.header {
    width: 100%;
    height: 80px;
    background-color: deeppink;
    color: white;
    display: flex;
    align-items: center;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
}

.header div {
    margin-left: 2em;
}

.main-body {
    height: calc(100vh - 80px);
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.task-cont {
    width: 350px;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid deeppink;
}

.task-header {
    font-size: 2em;
    text-align: center;
    cursor: default;
    user-select: none;
}

.task-wrapper {
    height: 94%;
    overflow-y: scroll;
}

.task {
    width: 330px;
    background-color: deeppink;
    color: white;
    display: flex;
    text-decoration: none;
    border-radius: 2px;
    margin: 0.5em 0;
    user-select: none;
}

.task:hover {
    color: white;
}

.task span {
    flex: 2;
    max-width: 300px;
    word-wrap: break-word;
    cursor: pointer;
    padding: 0.8em 1em;
}

.task button {
    flex: 1;
    border-color: transparent;
    background-color: transparent;
    color: white;
    cursor: default !important;
}

.task button i {
    cursor: pointer;
}

.task-wrapper::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgb(255, 134, 225);
	border-radius: 2px;
	background-color: #F5F5F5;
}

.task-wrapper::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.task-wrapper::-webkit-scrollbar-thumb
{
	border-radius: 2px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: deeppink;
}

.btn-add {
    position: fixed;
    right: 10px;
    bottom: 20px;
    background-color: deeppink;
    height: 40px;
    width: 40px;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.btn-add:hover {
    color: white;
}

.new-task-cont {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
}

.my-control {
    width: 100%;
    line-height: 2em;
    outline: none;
    border: 1px solid black;
    border-radius: 2px;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.my-control:focus {
    border: 1px solid deeppink;
    box-shadow: 0 0 4px 1px deeppink;
}

.fav {
    background-color: deeppink;
    border-color: deeppink;
    padding: 0.2em 1.4em;
    font-size: 1.1em;
    border-radius: 2px;
    color: white;
}

.hate {
    background-color: black;
    border-color: black;
    padding: 0.2em 1.4em;
    font-size: 1.1em;
    border-radius: 2px;
    color: white;
}

.btn-close:focus {
    box-shadow: 0 0 0 0.25rem rgba(255, 20, 145, 0.603) !important;
}



